<div class="content">
  <div class="top-wrapper">
    <div class="form">
      <%= form_tag('/maps/search', method: :get) do %>
        <h3 class="top-title">search</h3>
        <div class="search-form">
          <%= text_field_tag :keyword, "", placeholder: "フリーワードで検索" %>
        </div> 
        <div class="search-form">
          <%= select_tag "place_id", options_for_select([["選択して下さい",""],["東京","1"],["神奈川","2"],["千葉","3"],["埼玉","4"],["栃木","5"],["群馬","6"],["山梨","7"],["茨城","8"],["なし",""]]) %>
        </div>
        <div class="search-form">
          <%= select_tag "category_id", options_for_select([["選択して下さい",""],["ゴールドジム","1"],["エニタイムフィットネス","2"],["ライザップ","3"],["カーブス","4"],["セントラル","5"],["ティップネス","6"],["コナミスポーツクラブ","7"],["その他","8"],["なし",""]]) %>
        </div>
        <button class="fas fa-search" title="検索" type="submit"> 検索</button>
      <% end %>
    </div>
  </div>
  <div class="bottom-wrapper">
    <h3 class="bottom-title">new!</h3>
    <div class="bottom-contents">
    <% @maps.each do |map| %>
      <div class="bottom-content">
        <a class="new-content" href="/maps/<%= map.id %>" title="<%= map.name %>">
          <div class="new-content-image">
            <%= image_tag (map.image_url), height: "300px", width: "300px" %>
          </div>
          <div class="new-content-name">
            <h4 class="gym-name"><%= map.name %></h4>
          </div>
        </a>
      </div>
    <% end %>
    </div>
  </div>
</div>