<!DOCTYPE html>
<html>
  <head>
    <title>GymMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style type="text/css">
 <!--
         a   { text-decoration:none;}
 -->
 </style>
  </head>

  <body>
    <header>
      <div class="contaner">
        <a class="header-logo" href="/">GYM <span class="fas fa-dumbbell"></span> MAP</a>
        <div class="header-list">
        <% if user_signed_in? %>
          <%= link_to "投稿", new_map_path, method: :get, class: 'btn post' %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn logout' %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, method: :get, class: 'btn signup' %>
          <%= link_to "ログイン", user_session_path, method: :post, class: 'btn login' %>
        <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p class="footer-message">THE REAL WORKOUT STARTS WHEN YOU WANT TO STOP.</p>
      <span class="footer-logo">Copyright  GYMMAP</span>
    </footer> 
   </body>   
</html>
